.above-hero {
  width: 100%;
  height: 5vh;
  font-size: 0.865em;
  font-weight: 550;
  padding: 1.5em;
}

#about-jobs-apprenticeships,
ul {
  display: inline-flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5em;
  list-style: none;
  padding: 0;
  margin: 0;
}

#about-jobs-apprenticeships ul li a {
  text-decoration: none;
  color: #000;
}

.hero-container {
  height: 100vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

#background-image {
  height: 95%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background-image img {
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
  object-fit: cover;
  border-radius: 2px;
}

#header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fe4b14;
  font-size: clamp(2em, 2vw + 4.5em, 10em);
  font-weight: 550;
}
